.background{
    background-color: rgb(238, 233, 228);
}

h1 {
    background-color: rgb(200, 203, 207);
    text-align: center;
    text-shadow: 1px 1px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3,
h4 {
    background-color: rgb(220, 222, 224);
}